{% extends 'blog/base.html' %}

{% block content %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <span class="breadcrumb-item active">{{ post.title }}</span>
    </nav>

    <!-- Post -->
    <div class="post">
        {% if user.is_authenticated %}
            <a class="post-action centre" href="{% url 'post_edit' post_id=post.pk %}">
                <i class="material-icons">edit</i>
                Edit
            </a>
            <a class="post-action centre" href="{% url 'post_remove' post_id=post.pk %}">
                <i class="material-icons">clear</i>
                Remove
            </a>
            {% if not post.published_date %}
                <a class="post-action centre" href="{% url 'post_publish' post_id=post.pk %}">
                    <i class="material-icons">done</i>
                    Publish
                </a>
            {% endif %}
        {% endif %}
        <h1>{{ post.title }}</h1>
        <br>
        {% if post.published_date %}
            <p class="date">
                <i class="material-icons">event_available</i>
                {{ post.published_date }}
            </p>
        {% else %}
            <p class="date">
                <i class="material-icons">event_busy</i>
                Unpublished
            </p>
        {% endif %}
        <br>
        <p>{{ post.text | linebreaksbr }}</p>
        <br>
        <p class="author">
            <i class="material-icons">person</i>
            {{ post.author }}
        </p>
    </div>
    <!-- /Post -->
{% endblock %}
