{% extends 'blog/base.html' %}

{% block content %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <span class="breadcrumb-item active">{{ post.title }}</span>
    </nav>

    <!-- Post -->
    <div class="post">
        {% if user.is_authenticated %}
            <div>
                <a class="edit-post-link" href="{% url 'post_edit' post_id=post.pk %}">
                    <i class="material-icons">edit</i>
                    Edit<br>post
                </a>
            </div>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <br>
        <p class="date">
            <i class="material-icons">date_range</i>
            {{ post.published_date }}
        </p>
        <br>
        <p>{{ post.text | linebreaksbr }}</p>
        <br>
        <p class="author">
            <i class="material-icons">person</i>
            {{ post.author }}
        </p>
    </div>
    <!-- /Post -->
{% endblock %}
