body {
    font-family: 'Roboto', serif;
    color: #263238;
    background-color: #eceff1;
}

h1, h2, h3, h4, h5, h6 { font-weight: 300 }

a, a:active, a:hover, a:active, a:focus, a:visited { text-decoration: none }
a { color: #e91e63 }
a:hover { color: #d81b60 }
a:active, a:focus { color: #c2185b }
a:visited { color: #9c27b0 }

.page-header {
    margin-top: 0;
    padding: 40px;
    background-color: #3f51b5;
}
.page-header * { color: #ffffff }

.page-header h1,
.page-header h1 a,
.page-header h1 a:hover,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.author, .date { color: #78909c }

.save {
    float: right;
    margin-top: 20px;
    width: auto !important;
}

.form-title { margin-top: 64px }

.post-form {
    margin-top: 32px;
    margin-bottom: 128px;
}

.post-form textarea, .post-form input {
    width: 100%;
    margin-bottom: 20px;
}

.post-form .errorlist {
    list-style-type: none;
    padding-left: 0;
    color: #d32f2f;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    float: right;
    margin-left: 16px;
    text-decoration: none;
    color: #ffffff;
}

.top-menu .material-icons {
    font-size: 36px;
    display: block;
    padding-bottom: 8px;
}
.post .material-icons {
    font-size: 30px;
    display: block;
    padding-bottom: 8px;
}
.author .material-icons, .date .material-icons {
    font-size: 22px;
    display: inline;
    vertical-align: top;
}

.breadcrumb {
    padding-left: 0;
    padding-top: 32px;
    margin-bottom: -32px;
}
.breadcrumb-item.active { color: #607d8b }

.post {
    margin: 64px 0;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.form-control, .btn{
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.edit-post-link { float: right }

@media screen and (max-width: 620px) {
    .page-header {
        padding-left: 20px;
        padding-right: 20px;
    }
}
