body {
    font-family: 'Roboto', serif;
    color: #263238;
    background-color: #eceff1;
}

h1, h2, h3, h4, h5, h6 { font-weight: 300 }

p { font-size: 18px }

a, a:active, a:hover, a:active, a:focus, a:visited { text-decoration: none }
a { color: #3f51b5 }
a:hover { color: #5c6bc0 }
a:active, a:focus { color: #3949ab }
a:visited { color: #9c27b0 }

.btn-primary { background-color: #673ab7 }
.btn-primary:hover, .btn-primary:focus { background-color: #5e35b1 }
.btn-primary:active:focus { background-color: #7e57c2 }
.btn-primary:focus, .btn-primary:active:focus { outline: 0 none }

::selection { background: rgba(103,58,183,0.2) }
::-moz-selection { background: rgba(103,58,183,0.2) }

.page-header {
    margin-top: 0;
    padding: 40px;
    background-color: #673ab7;
}
.page-header * { color: #fff }

.page-header h1,
.page-header h1 a,
.page-header h1 a:hover,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #fff;
    font-size: 36pt;
    text-decoration: none;
}

.author, .date {
    color: #78909c;
    font-size: 16px;
}

.save {
    float: right;
    margin-top: 20px;
    width: auto !important;
}

.form-title { margin-top: 64px }

.post-form {
    margin-top: 32px;
    margin-bottom: 128px;
}

.post-form textarea, .post-form input {
    width: 100%;
    margin-bottom: 20px;
}

.post-form .errorlist {
    list-style-type: none;
    padding-left: 0;
    color: #d32f2f;
}

.top-menu {
    float: right;
    margin-left: 16px;
    color: #fff;
}
.top-menu:hover, .top-menu:visited { color: #fff }

.top-menu .material-icons {
    font-size: 36px;
    display: block;
    padding-bottom: 8px;
}
.post .material-icons {
    font-size: 30px;
    display: block;
    padding-bottom: 8px;
}
.author .material-icons, .date .material-icons {
    font-size: 22px;
    display: inline;
    vertical-align: top;
}

.breadcrumb {
    padding-left: 0;
    padding-top: 32px;
    margin-bottom: -32px;
}
.breadcrumb-item.active { color: #607d8b }

.post {
    margin: 64px 0;
    padding: 20px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.form-control, .btn{
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.post-action {
    float: right;
    margin-left: 16px;
}

.centre { text-align: center }

@media screen and (max-width: 620px) {
    .page-header {
        padding-left: 20px;
        padding-right: 20px;
    }
}
