body {
  font-family: 'Roboto', serif;
  color: #263238;
  background-color: #eceff1;
}

h1, h2, h3, h4, h5, h6 { font-weight: 300 }

p { font-size: 18px }

a, a:active, a:hover, a:active, a:focus, a:visited { text-decoration: none }
a { color: #3f51b5 }
a:hover { color: #5c6bc0 }
a:active, a:focus { color: #3949ab }
a:visited { color: #9c27b0 }

.btn-primary { background-color: #673ab7 }
.btn-primary:hover, .btn-primary:focus { background-color: #5e35b1 }
.btn-primary:active:focus { background-color: #7e57c2 }
.btn-primary:focus, .btn-primary:active:focus { outline: 0 none }

a.btn-primary:visited { color:#fff }

::selection { background: rgba(103,58,183,0.2) }
::-moz-selection { background: rgba(103,58,183,0.2) }

.page-header {
  margin-top: 0;
  padding: 40px;
  color: #fff;
  background-color: #673ab7;
}
.page-header h1 { font-size: 36pt }

.user-bar {
  padding: 16px 40px 0 40px;
  color: #fff;
  background-color: #512da8;
}
.user { float: left }
.user .material-icons {
  margin-right: 8px;
  font-size: 30px;
  vertical-align: top;
}
.logout { float: right }
.logout a { color: #fff }
.logout * { font-size: 16px }
.logout .material-icons {
  margin-left: 8px;
  font-size: 28px;
  vertical-align: top;
}

.btn-submit {
  float: right;
  margin-top: 10px;
  width: auto !important;
}

.form-title { margin: 64px 20px 0 20px }

.post-form { margin: 32px 20px 128px 20px }

.post-form textarea, .post-form input {
  width: 100%;
  margin-bottom: 20px;
}

.post-form .errorlist {
  list-style-type: none;
  padding-left: 0;
  color: #d32f2f;
}

.error-text {
  font-size: 16px;
  color: #d32f2f;
}

.top-menu {
  float: right;
  margin-left: 16px;
  color: #fff;
}
.top-menu:hover, .top-menu:visited { color: #fff }

.top-menu .material-icons {
  font-size: 36px;
  display: block;
  padding-bottom: 8px;
}
.post .material-icons {
  display: block;
  padding-bottom: 8px;
}

.post-stat {
  color: #78909c;
  font-size: 16px;
}
.post-stat .material-icons {
  font-size: 22px;
  display: inline;
  vertical-align: top;
}
/*.post-stat[name="date"] { float: left }
.post-stat[name="comments"] { float: left }*/

.breadcrumb {
  padding-left: 0;
  padding-top: 32px;
  margin-bottom: -32px;
}
.breadcrumb-item.active { color: #607d8b }

.post {
  margin: 64px 0;
  padding: 20px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.post-action {
  float: right;
  margin-left: 16px;
  font-size: 14px;
}

.comment {
  margin: 20px 0px 20px 10px;
  padding: 0 10px 0 20px;
  border-left: 3px solid #673ab7;
}
.comment p {
  font-size: 16px;
  padding: 0;
  margin: 2px auto;
}
.comment p[name="author"] { color: #512da8 }

.login-box {
  margin: 48px auto;
  max-width: 330px;
  padding: 20px;
}

.form-control, .btn{
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.centre { text-align: center }

@media screen and (max-width: 620px) {
  .page-header, .user-bar {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .breadcrumb {
    padding-left: 20px;
  }

  .post { border-radius: 0 }

  .comment {
    margin: 20px 0px 20px 0;
    padding: 0 0 0 10px;
  }
}
